<div class="container">
  <p><%= link_to 'Back', articles_path %></p>
  <p><%= link_to 'Edit this article', edit_article_path(@article) %></p>
  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>
</div>
